In [3]:
import csv
import os
import pandas as pd
import numpy as np

In [4]:
os.chdir("E:\DL_Python\capstone_projs\proj_I")

# convert ncessch from float to int while reading in the data
enrollment_groupings_2017 = pd.read_csv("edfacts_graduation_MA.csv", dtype = {'ncessch': np.int64} )

enrollment_groupings_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109208 entries, 0 to 109207
Data columns (total 27 columns):
STNAM         109208 non-null object
FIPST         109208 non-null int64
LEAID         109208 non-null int64
LEANM         109208 non-null object
ncessch       109208 non-null int64
SCHNAM        109208 non-null object
ALL_COHORT    106295 non-null float64
ALL_RATE      95677 non-null float64
MAM_COHORT    40419 non-null float64
MAM_RATE      6708 non-null float64
MAS_COHORT    55023 non-null float64
MAS_RATE      23706 non-null float64
MBL_COHORT    74730 non-null float64
MBL_RATE      44599 non-null float64
MHI_COHORT    81955 non-null float64
MHI_RATE      50095 non-null float64
MTR_COHORT    44030 non-null float64
MTR_RATE      15903 non-null float64
MWH_COHORT    99794 non-null float64
MWH_RATE      83793 non-null float64
CWD_COHORT    97621 non-null float64
CWD_RATE      64718 non-null float64
ECD_COHORT    103282 non-null float64
ECD_RATE      89335 non-null float64
LEP_COHORT    54874 non-null float64
LEP_RATE      25465 non-null float64
YEAR          109208 non-null int64
dtypes: float64(20), int64(4), object(3)
memory usage: 22.5+ MB

In [5]:
# print datatypes of each column
enrollment_groupings_2017.dtypes
# remove SettingWithCopyWarning with below statement
pd.options.mode.chained_assignment = None

In [6]:
# filter the data for one particular state
st_groupings=enrollment_groupings_2017.loc[enrollment_groupings_2017['STNAM'] == 'MASSACHUSETTS']

In [7]:
### SUBGROUP LEP_RATE ANALYSIS 
#  filter out the columns that are not in scope for analysis-that is, include only RATE columns
# for each schoolcode, describe LEP_RATE to show non null mean values
std=st_groupings[st_groupings.columns.drop(list(st_groupings.filter(regex='COHORT$')))].groupby('ncessch').LEP_RATE.describe()
std[std['mean'].notnull()]

              count       mean        std   min     25%    50%     75%   max
ncessch
250003000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
250005000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
250009000000    1.0  24.500000        NaN  24.5  24.500  24.50  24.500  24.5
250053000000    4.0  57.375000  15.085175  49.5  49.875  50.00  57.500  80.0
250171000000    3.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
250180000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
250192000000    5.0  53.800000   8.779237  49.5  50.000  50.00  50.000  69.5
250198000000    3.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
250210000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
250219000000    3.0  56.333333  11.405408  49.5  49.750  50.00  59.750  69.5
250222000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
250231000000    4.0  67.250000  12.519984  50.0  64.625  69.50  72.125  80.0
250240000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
250249000000    4.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
250264000000    3.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
250267000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
250271000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
250279000000   96.0  57.421875  12.374917  30.0  50.000  52.00  67.000  84.5
250294000000    5.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
250303000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
250309000000    8.0  50.437500  23.027061  22.0  23.875  64.50  67.000  72.0
250315000000    5.0  77.900000   4.695743  69.5  80.000  80.00  80.000  80.0
250324000000    3.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
250327000000    5.0  71.700000  12.711216  49.5  74.500  74.50  80.000  80.0
250351000000    3.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
250354000000    5.0  43.500000   7.416198  37.0  37.000  42.00  47.000  54.5
250366000000    7.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
250375000000    3.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
250405000000    5.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
250414000000    5.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
...             ...        ...        ...   ...     ...    ...     ...   ...
250896000000    5.0  56.000000  13.416408  50.0  50.000  50.00  50.000  80.0
250906000000    3.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
250936000000    5.0  61.600000  10.818965  49.5  50.000  69.50  69.500  69.5
250963000000    7.0  49.928571   0.188982  49.5  50.000  50.00  50.000  50.0
250987000000    7.0  79.285714  13.548853  50.0  78.500  87.00  87.000  87.0
250993000000    5.0  74.600000   7.987490  64.5  69.500  74.50  80.000  84.5
251005000000    5.0  62.500000   4.472136  54.5  64.500  64.50  64.500  64.5
251038000000    5.0  67.600000   6.931811  64.5  64.500  64.50  64.500  80.0
251050000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
251062000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
251077000000    5.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
251089000000    5.0  64.500000   4.330127  57.0  64.500  67.00  67.000  67.0
251101000000    2.0  49.750000   0.353553  49.5  49.625  49.75  49.875  50.0
251106000000    5.0  56.000000  13.416408  50.0  50.000  50.00  50.000  80.0
251113000000   22.0  41.522727  20.118386  12.0  26.375  39.50  53.375  74.5
251125000000    2.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
251143000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
251152000000    3.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
251197000000    2.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
251200000000    5.0  52.500000   8.366600  44.5  44.500  54.50  54.500  64.5
251218000000    3.0  63.000000  11.258330  50.0  59.750  69.50  69.500  69.5
251251000000    5.0  66.500000   6.708204  54.5  69.500  69.50  69.500  69.5
251260000000    4.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
251263000000    9.0  55.500000  11.224972  50.0  50.000  50.00  50.000  80.0
251284000000    3.0  49.833333   0.288675  49.5  49.750  50.00  50.000  50.0
251295000000    1.0  50.000000        NaN  50.0  50.000  50.00  50.000  50.0
251311000000    2.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
251317000000    2.0  50.000000   0.000000  50.0  50.000  50.00  50.000  50.0
251320000000    5.0  71.600000   4.695743  69.5  69.500  69.50  69.500  80.0
251323000000   33.0  67.893939  14.386820  44.5  52.000  69.50  80.000  95.0

[95 rows x 8 columns]

In [8]:
### SUBGROUP MTR_RATE ANALYSIS
# for each value in MTR_RATE, count the number of occurrences excluding NULLS
st_groupings[st_groupings.columns.drop(list(st_groupings.filter(regex='COHORT$')))].MTR_RATE.value_counts()

50.0    325
80.0     37
69.5     10
64.5      3
74.5      2
90.0      2
84.5      1
Name: MTR_RATE, dtype: int64

In [9]:
### SUBGROUP CWD_RATE ANALYSIS
# filter out to include only RATE columns
stc=st_groupings[st_groupings.columns.drop(list(st_groupings.filter(regex='COHORT$')))]

In [10]:
# further filter out non null CWD_RATE values
stcnn=stc[stc.CWD_RATE.notnull()]

In [11]:
# similar to describe but customizing output sorted by mean values
st_cwd_by_leaid=stcnn.groupby('LEAID').CWD_RATE.agg(['count','mean','min','max','std']).sort_values('mean')
st_cwd_by_leaid

         count       mean   min   max        std
LEAID
2500049      1  15.000000  15.0  15.0        NaN
2506270     10  30.100000   7.5  47.0  12.896597
2504830     10  36.350000  24.5  62.0  11.960700
2508430      7  36.428571  27.0  50.0   8.810167
2512030      3  36.500000  30.0  49.5  11.258330
2511130     32  39.968750  12.0  80.0  18.790413
2505160      2  40.000000  30.0  50.0  14.142136
2507020      8  40.625000  27.0  50.0   8.879149
2503540      5  41.500000  24.5  54.5  12.041595
2512240      4  44.750000  30.0  69.5  18.887827
2502160      5  45.600000  30.0  69.5  15.445064
2505970      5  48.000000  42.0  52.0   4.183300
2503090     11  48.136364  30.0  67.0  11.498024
2502790    112  48.558036  12.0  80.0  15.933525
2509930      5  49.500000  34.5  69.5  16.583124
2509300      4  49.500000  49.5  49.5   0.000000
2503660     10  49.500000  34.5  64.5   9.718253
2505490      4  49.625000  30.0  69.5  16.126453
2504320      5  49.700000  30.0  69.5  19.750316
2500002      4  49.750000  49.5  50.0   0.288675
2501780      5  49.800000  30.0  69.5  13.966925
2505270      3  49.833333  30.0  69.5  19.750527
2508040      4  49.875000  49.5  50.0   0.250000
2500544      5  49.900000  49.5  50.0   0.223607
2512390      5  50.000000  50.0  50.0   0.000000
2500026      1  50.000000  50.0  50.0        NaN
2507170      5  50.000000  44.5  57.0   6.471090
2505580      2  50.000000  50.0  50.0   0.000000
2500044      5  50.000000  50.0  50.0   0.000000
2502250      4  50.000000  50.0  50.0   0.000000
...        ...        ...   ...   ...        ...
2508340      5  88.100000  82.0  92.0   4.588028
2509990      5  88.200000  87.0  90.0   1.643168
2501980      5  88.200000  84.5  92.0   3.474910
2508370      5  88.300000  84.5  90.0   2.489980
2512660      5  88.900000  84.5  90.0   2.459675
2508860      5  88.900000  84.5  90.0   2.459675
2507620      5  88.900000  84.5  90.0   2.459675
2513110      5  88.900000  84.5  90.0   2.459675
2503870      5  88.900000  84.5  90.0   2.459675
2504500      5  90.000000  90.0  90.0   0.000000
2508830      4  90.000000  90.0  90.0   0.000000
2506990      5  90.000000  90.0  90.0   0.000000
2507410      5  90.000000  90.0  90.0   0.000000
2503080      5  90.000000  90.0  90.0   0.000000
2500554      1  90.000000  90.0  90.0        NaN
2512810      5  90.000000  90.0  90.0   0.000000
2506840      5  90.200000  82.0  95.0   4.919350
2505730      5  90.200000  87.0  92.0   2.049390
2502740      5  90.400000  90.0  92.0   0.894427
2502110      5  90.600000  87.0  95.0   3.507136
2512210      5  91.000000  90.0  95.0   2.236068
2508050      5  91.000000  90.0  95.0   2.236068
2512270      5  91.000000  90.0  95.0   2.236068
2508610     10  91.100000  87.0  95.0   3.071373
2508960      5  91.200000  87.0  95.0   4.024922
2508320      5  92.000000  90.0  95.0   2.738613
2511735      5  92.800000  87.0  95.0   3.492850
2506930      5  93.800000  92.0  95.0   1.643168
2510615      5  93.800000  92.0  95.0   1.643168
2512950      5  95.000000  95.0  95.0   0.000000

[291 rows x 5 columns]

In [12]:
### SUBGROUP ECD_RATE ANALYSIS
# filter out to include only RATE columns
ste=st_groupings[st_groupings.columns.drop(list(st_groupings.filter(regex='COHORT$')))]

In [13]:
# further filter out non null ECD_RATE values
stenn=stc[stc.ECD_RATE.notnull()]
# with non null ECD_RATE values, groupby LEAID, count the occurrences
st_ecd_by_leaid_uns=stenn.groupby('LEAID').ECD_RATE.value_counts()
st_ecd_by_leaid_uns

LEAID    ECD_RATE
2500001  74.5        3
         67.0        1
         84.5        1
2500002  74.5        3
         64.5        1
         84.5        1
2500013  69.5        2
         80.0        2
         84.5        1
2500021  80.0        4
         90.0        1
2500025  50.0        2
2500026  74.5        3
         54.5        1
         64.5        1
2500028  90.0        2
         87.0        1
         92.0        1
         95.0        1
2500033  15.0        4
         7.5         1
2500040  50.0        4
         80.0        1
2500044  50.0        5
2500046  84.5        2
         90.0        2
         69.5        1
2500049  17.0        3
         12.0        2
2500051  90.0        3
                    ..
2512950  95.0        5
2513050  69.5        2
         80.0        2
         84.5        1
2513080  64.5        3
         84.5        1
2513110  80.0        4
         90.0        1
2513170  74.5        3
         84.5        2
2513200  77.0        3
         72.0        1
         87.0        1
2513230  95.0        5
         72.0        4
         82.0        4
         90.0        4
         57.0        3
         77.0        3
         64.0        2
         62.0        1
         63.0        1
         64.5        1
         66.0        1
         67.0        1
         71.0        1
         74.0        1
         80.0        1
         84.5        1
         87.0        1
Name: ECD_RATE, Length: 945, dtype: int64

In [14]:
# setting and removing an index; resetting index can help remove hierarchical indexes while 
# preserving the table in its basic structure; sort the resulting column by index
stenn.set_index('ncessch', inplace=True)
stenn.reset_index(inplace=True)
stenn.ECD_RATE.value_counts().sort_index()

7.5       2
12.0      6
15.0     15
17.0      6
22.0      7
24.5     16
27.0      5
30.0     17
32.0      6
34.0      1
34.5      4
36.0      1
37.0      9
42.0     10
44.5      3
45.0      2
47.0      7
49.5     14
50.0    183
52.0     20
54.0      3
54.5     16
57.0     20
58.0      1
59.0      1
60.0      1
61.0      1
62.0     30
63.0      2
64.0      4
       ...
67.0     56
68.0      2
69.5     88
71.0      3
72.0     66
73.0      4
74.0      2
74.5    112
75.0      4
76.0      3
77.0     92
78.0      6
79.0      3
80.0    208
81.0      2
82.0     98
83.0      3
84.0      2
84.5    181
85.0      2
87.0     90
88.0      1
89.0      1
90.0    157
91.0      1
92.0     58
93.0      1
94.0      2
95.0     59
96.0      1
Name: ECD_RATE, Length: 63, dtype: int64